@model Registration

<h1> Welcome: @Model.Email</h1>
<h2>Please verify your imformation below</h2>
<p>Name: @Model.FirstName @Model.LastName</p>
<p>Email: @Model.Email</p>
<video id="background-video" autoplay loop poster="https://assets.codepen.io/6093409/river.jpg">
<source src="~/videos/one.mp4"  type="video/mp4">
</video>