
<h2>Please Input Your Information Below</h2>

<form asp-action="Information" asp-controller="Home" method="get">
	<p>First Name:</p>
	<input type="text" name="FirstName"/>
	<br/>

	<p>Last Name:</p>
	<input type="text" name="LastName"/>
	<br/>

	<p>Email:</p>
	<input type="text" name="Email"/>
	<br/>
	<p>Password</p>
	<input type="text" name="Password"/>
	<br/>
	<input type="submit"/>
</form>
